<div class="row">
    <!-- <h6>Edit Settings</h6> -->
    <div class="col-md-3 col-12 mb-3 mb-md-0">
        <div class="list-group bg-white mb-3">
            <a class="list-group-item list-group-item-action active menu-link" id="basicsettings-list" data-bs-toggle="list"
                href="#basicsettings"><i class="menu-icon bx bx-user"></i> Basic Settings</a>
            <a class="list-group-item list-group-item-action menu-link" id="security-list" data-bs-toggle="list"
                href="#security"><i class="menu-icon bx bx-lock"></i>Security</a>
            <a class="list-group-item list-group-item-action menu-link" id="list-messages-list" data-bs-toggle="list"
                href="#list-messages"><i class="menu-icon bx bx-message"></i>Messages</a>
            <a class="list-group-item list-group-item-action menu-link" id="list-messages-list" data-bs-toggle="list"
                href="#userroles"><i class='menu-icon bx bx-group'></i>User Roles</a>
            <a class="list-group-item list-group-item-action menu-link" id="list-messages-list" data-bs-toggle="list"
                href="#entitlements"><i class='menu-icon bx bx-shield'></i>Permissions</a>
        </div>
    </div>
    <div class="col-md-9">
        <div class="tab-content p-0">
            <div class="tab-pane fade show active" id="basicsettings">
                <basicsettings></basicsettings>
            </div>
            <div class="tab-pane fade" id="security">
                <security></security>
            </div>
            <div class="tab-pane fade" id="list-messages">
                Ice cream dessert candy sugar plum croissant cupcake tart pie apple pie. Pastry
                chocolate chupa chups tiramisu. Tiramisu cookie oat cake. Pudding brownie
                bonbon. Pie
                carrot cake chocolate macaroon. Halvah jelly jelly beans cake macaroon jelly-o.
                Danish
                pastry dessert gingerbread powder halvah. Muffin bonbon fruitcake dragée sweet
                sesame
                snaps oat cake marshmallow cheesecake. Cupcake donut sweet bonbon cheesecake
                soufflé
                chocolate bar.
            </div>
            <div class="tab-pane fade" id="list-settings">
                Marzipan cake oat cake. Marshmallow pie chocolate. Liquorice oat cake donut
                halvah
                jelly-o. Jelly-o muffin macaroon cake gingerbread candy cupcake. Cake lollipop
                lollipop
                jelly brownie cake topping chocolate. Pie oat cake jelly. Lemon drops halvah
                jelly
                cookie bonbon cake cupcake ice cream. Donut tart bonbon sweet roll soufflé
                gummies
                biscuit. Wafer toffee topping jelly beans icing pie apple pie toffee pudding.
                Tiramisu
                powder macaroon tiramisu cake halvah.
            </div>
            <div class="tab-pane fade" id="entitlements">
                <entitlements></entitlements>
            </div>
            <div class="tab-pane fade" id="userroles">
                <userroles></userroles>
            </div>
        </div>
    </div>
</div>